@font-face {
    font-family: 'Source Code Pro', monospace;
    src: url('/fonts/SourceCodePro');
}

body
{
    height: auto;
    width: auto;
    font-family: 'Source Code Pro', monospace;
    background-color: #3F4E4F;
}

.jumbotron{
    position: absolute;
    width: 380px;
    left: 32%;
    font-size: 20px;
    text-align: center;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
    color: #FEE0C0;
}

header
{
    text-align: center;
    font-size: 28px;
}

.row{
    display: flex;
    flex-wrap: wrap;
}


.type-selector{
    font-weight: bold;
    text-align: center;
}

.type-selector select{
    width: 332px;
    height: 50px;
    background-color: white;
    font-size: 17px;
    padding-left: 15px;
    border-radius: 5px;
    font-family: 'Source Code Pro', monospace;
}

.container{
    position: absolute;
    width: 350px;
    transform: translate(-50%, -50%);
    background: #DCD7C9;
    padding: 35px;
    box-shadow: 15px 30px 35px rgba(0,0,0,0.1);
    border-radius: 10px;
    perspective: 300px;
    -webkit-perspective: 300px;
    top: 50%;
    left: 50%;
}
.container form
{
    margin: 20px 0 20px 0;
}
form :where(input, select, button){
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
}
form p{
    font-size: 18px;
    margin-bottom: 5px;
}
form input{
    width: 332px;
    height: 50px;
    font-size: 17px;
    padding-left: 15px;
    font-family: 'Source Code Pro', monospace;
}
form .drop-list{
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}
.drop-list .select-box{
    background-color: #DCD7C9;
    display: flex;
    width: 115px;
    height: 45px;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #999;
}
.select-box select{
    width: auto;
    font-size: 16px;
    margin: 0 -px 0 5px;
    background-color: #DCD7C9;
}
.select-box select::-webkit-scrollbar{
    width:8px;
}
.select-box select::-webkit-scrollbar-track{
    background: #FEE0C0;
}
.select-box select::-webkit-scrollbar-thumb{
    background: #888;
    border-radius: 8px;
}
.select-box img{
    max-width: 25px;
}
.drop-list .icon{
    cursor: pointer;
    font-size: 22px;
    margin-top: 40px;
}
form .rate{
   font-size: 17px;
   margin: 20px 50px 20px 50px;
   text-align: center;
}
form button{
    height: 52px;
    color: white;
    background: #A27B5C;
    font-size: 17px;
    cursor: pointer;
}

footer{
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    background: #2C3639;
    height: auto;
    width: 100%;
    padding-top: 5px;
    color:#FEE0C0;
}
.footer-content{
    text-align: center;
}
